<body>
    <div class="row">
        <h1>Tecnologías</h1>
    </div>
    <div class="contenedor1">
 <div class="container">
    <div class="box">
        <div class="imgbox">
    <img alt="photo 1" src="../../../assets/html.jpg" />
          </div>
<div class="content">
    </div>
    <h2>HTML</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, sed itaque laboriosam quae earum eos ab incidunt, facere quis rerum sunt fuga odit delectus, aspernatur sapiente atque numquam ipsam animi.</p>
    </div>
 </div>

 <div class="container">
    <div class="box">
        <div class="imgbox">
    <img alt="photo 2" src="../../../assets/css.jpeg"/>
          </div>
<div class="content">
    </div>
    <h2>CSS</h2>
    <p>Lorem ipsum </p>
    </div>
 </div>

 <div class="container">
    <div class="box">
        <div class="imgbox">
    <img alt="photo 3" src="../../../assets/js.png" />
          </div>
<div class="content">
    </div>
    <h2>JAVASCRIPT</h2>
    <p>Lorem ipsum </p>
    </div>
 </div>
 <div class="container">
    <div class="box">
        <div class="imgbox">
    <img alt="photo 1" src="../../../assets/angular.jpeg" />
          </div>
<div class="content">
    </div>
    <h2>ANGULAR</h2>
    <p>Lorem ipsum </p>
    </div>
 </div>
    </div>
 <div class="contenedor2">
 <div class="container">
    <div class="box">
        <div class="imgbox">
    <img alt="photo 1" src="../../../assets/bt.jpeg" />
          </div>
<div class="content">
    </div>
    <h2>BOOTSTRAP</h2>
    <p>Lorem ipsum </p>
    </div>
 </div>

 
 <div class="container">
    <div class="box">
        <div class="imgbox">
    <img alt="photo 1" src="../../../assets/java.jpg" />
          </div>
<div class="content">
    </div>
    <h2>JAVA</h2>
    <p>Lorem ipsum </p>
    </div>
 </div>
    
 <div class="container">
    <div class="box">
        <div class="imgbox">
    <img alt="photo 1" src="../../../assets/REACT.jpeg" />
          </div>
<div class="content">
    </div>
    <h2>REACT</h2>
    <p>Lorem ipsum </p>
    </div>
 </div>

 <div class="container">
    <div class="box">
        <div class="imgbox">
    <img alt="photo 1" src="../../../assets/NODE.jpeg"/>
          </div>
<div class="content">
    </div>
    <h2>NODE JS</h2>
    <p>Lorem ipsum </p>
    </div>
 </div>
</div>
</body>

