<body>
<div class="container">
<div class="row">
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
 <img src="../../../assets/banner1.jpg" class="img-fluid">
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    <p id="nombre"> I'm Cristina Gómez</p>
    <p id="cargo"> Full Stack Web Developer</p>
 <div class="col-xs-12 col-sm-8 col-md-2 col-lg-2"> </div>
        <span>
            <h1>About me </h1>
            <p id="sobremi">My main goal is to develop
                professionally and evolve in my sector.
                I look for opportunities that allow me
                Do. After years of experience, I have taken the
                decision to reorient my professional career with
                the spirit to continue learning and, also,
                contribute all my acquired experience.</p>
        </span>
</div>
</div>
</body>



