body{
    padding: 10px;
    background-color: rgb(1, 0, 14);
}
.row{
    padding: 10px;

}
.container{
    top: 0;
    padding: 0;
}
div{
    top: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(1, 0, 14);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;      
    color: white;
    background-attachment: fixed;
}  
#nombre{
    font-weight: bold;
    margin-top: 10px;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#cargo{
    font-weight: bold;
    margin-top: 10px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#sobremi{
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
h1{
    font-weight: bold;
    margin-top: 40px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
@media (min-width:576px){
.img-fluid{
    position: absolute;
    width: 20%;
    border-radius: 100%;
    box-shadow: 0,5px 0,5px 0,5px white;
    left: 10%;
}
}