<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
              <h2> Página web "Namaste Samkhya"</h2> - <h3>(2021)</h3>
            </li>
            <p> Creación de una página de Yoga y espacios holísticos. Utilización de photoshop para el armado de imagenes y para la programación web se utilizó principalmente Html, CSS y Javascript</p>
        </ul>
        <ul>
            <li>
              <h2> MiCalculadora</h2> - <h3>(2022)</h3>  
            </li>
            <p> Desarrollo de una calculadora simple con Javascript y sus fundamentos básicos</p>
        </ul>
        <ul>
            <li>
              <h2> Página web "M&G Estudio Jurídico"</h2> - <h3>(2022)</h3>  
            </li>
            <p> Programación de una web para un estudio jurídico. Utilización de photoshop para el armado de imagenes y para la programación web se utilizó principalmente Html, CSS y Javascript</p>
        </ul>
    </div>
</div>    