<div class="row">
    <h1>Formación Académica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
              <h2>"Argentina Programa"</h2> - <h3>(2021)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo a voluptatum vel distinctio sint maxime earum reiciendis illo perspiciatis quaerat. Consectetur neque quasi nisi id dolore nobis magni amet quo?</p>
        </ul>
        <ul>
            <li>
              <h2>Diseño web (WordPress)-Ministerio de Trabajo, Empleo y Seguridad Social de la Provincia de Santa Fe</h2> - <h3>(2021)</h3>  
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptate rerum iusto eveniet, ipsa dolorum excepturi tenetur, consectetur aspernatur eius labore maxime veritatis et? Cupiditate error expedita animi culpa voluptatem.</p>
        </ul>
       <ul>
            <li>
              <h2>Oracle Next Education</h2> - <h3>(2022)</h3>  
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis incidunt quos voluptates repudiandae maiores blanditiis, iure tenetur obcaecati delectus facilis nemo deleniti quia aliquid dolorum sed nostrum tempore ut praesentium. </p>
        </ul>
        <ul>
            <li>
              <h2>Educación IT</h2> - <h3>(2022)</h3>  
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis incidunt quos voluptates repudiandae maiores blanditiis, iure tenetur obcaecati delectus facilis nemo deleniti quia aliquid dolorum sed nostrum tempore ut praesentium. </p>
        </ul>
       
    </div>
</div>    